.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

#inputImage {
    width: 500px; 
    height: auto;
}

.face_description {
    position: absolute;
    color: #fff;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
}