.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.text-shadow {
  text-shadow: 0 0 .15rem #000;
}

button,
input {
  border: none;
}

#tsparticles {
  position: relative;
  z-index: -100;
}