@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Merriweather:ital,wght@0,300;0,700;1,400;1,900&https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

h3, h4, h6, .hero-text, a, button {
	font-family: 'Merriweather', serif;
}

h1, h2, h5, nav a {
  z-index: 5;
	font-family: 'Lora', serif;
	color: #444;
}

.App {
  text-align: center;
  min-height: 100%;
  margin: 10rem 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.text-shadow {
  text-shadow: 0 0 .15rem #000;
}

button,
input {
  border: none;
}

#tsparticles {
  position: relative;
  z-index: -100;
}